*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.body{
  background-color: white;
}

.nav-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  list-style: none;
  font-size: 19px;
}

.nav-bar{
  display: none;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
  margin-right: 5rem;
}

.hero-image{
  width: 95vw;
  height: 85vh;
  margin-top: 0.5rem;
  margin-left: 2rem;
  position: relative;
}

.hero-section-text1{
  padding: 2rem 2rem;
  background-color: white;
  position: absolute;
  top: 15rem;
  left: 90px;
  border-radius: 20px;


}

.feature-image{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.feature-section-text{
  padding: 150px 50px;
  background-color: rgb(230, 230, 178);
  border-radius: 1rem;
  margin-left: 0.6rem;

}

.feature-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 1rem;
  
}

.ftext{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: larger;
}

.grid1{
  padding: 20px 20px;
  background-color: rgb(172, 192, 141);
  border-radius: 1rem;
  height: 10rem;
  width: 15rem;
}
.jobs{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  margin-left: 6rem;
  margin-right: 11rem;
  margin-bottom: 5rem;
} 


@media (max-width: 1280px) {
  .hero-image{
    max-width: 110vw;
    margin-left: 2rem;
  }
  .nav{
    margin-right: 5rem;
  }

  .feature-section{
    margin-right: 2rem;
    margin-top: 8rem;
  }
  .feature-section-text{
    padding: 8.5rem 6rem;
  }
.jobs{
  margin: 1rem 1.5rem;
}


}

@media (max-width: 360px) {

  .hero-image{
    width: 95vw;
    margin-left: 10px;
  }

  .nav-link{
    display: none;
  }
  .nav-bar{
    display: flex;
    margin-left: 170px;
  }

  .nav{
    margin-left: 0.5rem;
  }

  .feature-section{
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
  }
  .feature-section-text{
    padding: 20px 20px;
    margin-top: 40px;
  }
  .ftext{
    text-align: center;
    font-size: 15px;
  
  }

  .hero-section-text1{
    padding: 15px 15px;
    top: 5rem;
    left: 20px;
    font-size: 11px;
  }

  .feature-image img{
    width: 170px;
    align-items: center;
  }
  .feature-image{
    margin-left: 1px;
  }
  
  .jobs {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

}
  





